<div id="application" class="page">
  <div class="divided title">
    Заявка на участие
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
            ng-class="{'loading': loading}">

        <div class="divided title">Общая информация</div>

        <fieldset ng-disabled="regIsClosed">

        <div class="field">
          <label> Email </label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field">
          <label> ФИО </label>
          <input type="text"
                 name="name"
                 ng-model="user.profile.name">
        </div>

        <div class="field">
          <label> Название школы/университета/института </label>
          <input type="text"
                 name="school"
                 placeholder="МИРЭА"
                 ng-model="user.profile.school">
        </div>

        <!--<div class="field" ng-show="!autoFilledSchool">-->
          <!--<label> Название школы/университета/института </label>-->
          <!--<div id="school" class="ui search">-->
            <!--<div class="ui input">-->
              <!--<input class="prompt" type="text" placeholder="МИРЭА" name="school" ng-model="user.profile.school">-->
            <!--</div>-->
            <!--<div class="results"></div>-->
          <!--</div>-->
        <!--</div>-->

        <div class="field">
          <label>Год выпуска</label>
          <select
            name="year"
            ng-model="user.profile.graduationYear">
            <option value="">Год выпуска</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
          </select>
        </div>

        <div class="field">
          <label>Ваш пол</label>
          <select
            name="gender"
            ng-model="user.profile.gender">
            <option value="">Ваш пол</option>
            <option value="M">Мужской</option>
            <option value="F">Женский</option>
          </select>
        </div>

        <div class="field">
          <label>Я бы описал себя как...</label>
          <input type="text"
                 placeholder="Дизайнер, ios-маг, php джедай"
                 ng-model="user.profile.description">
        </div>

        <div class="field">
          <label>
              Что бы Вы хотели изучить или получить от участия в PandaHack? (по желанию)
          </label>
          <textarea ng-model="user.profile.essay">
          </textarea>
        </div>

        <div class="field"
             ng-hide="isMitStudent">
          <p>
            Не забудьте взять с собой документы.
          </p>
          <p>
            <strong>
            Вход строго по документам(права, паспорт), мы будем их проверять.
            </strong>
          </p>
          <div class="ui checkbox">
            <input type="checkbox" id="adult" ng-model="user.profile.adult">
            <label for="adult">Я не забуду взять с собой документы</label>
          </div>
        </div>

        <br>

        <div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui purple button"
                  ng-click="submitForm()">
            Отправить
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
