<div id="stats">

  <!--общая статистика-->
  <div
      class="ui green segment"
      ng-class="{'loading': loading}">
    <div class="ui header">
      Stats
    </div>

    <div class="content">
      <em> Last updated: {{fromNow(stats.lastUpdated)}}</em>
      <div class="ui list">

        <div
            class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
              Всего регнулось
            </strong> :
            {{stats.total}}
          </div>
        </div>

        <div class="ui divider"></div>

        <div class="item">
          <i class="circle red icon"></i>
          <div class="content">
            <strong>
              Слились
            </strong> :
            {{stats.declined}}
          </div>
        </div>

        <div class="item">
          <i class="green flag icon"></i>
          <div class="content">
            <strong>
              Зачекинились
            </strong> :
            {{stats.checkedIn}}
          </div>
        </div>

        <div class="ui divider"></div>

        <div class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
              Подтвердили участие
            </strong> :
            {{stats.confirmed}}
          </div>
        </div>

        <div class="ui divider"></div>

        <div
            class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
              Приглашено, но пока не подтвердил участие
            </strong> :
            {{stats.admitted - stats.confirmed - stats.declined}}
          </div>
        </div>

        <div
            class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
              Заполнили форму/Ждут одобрения заявки
            </strong> :
            {{stats.submitted - stats.admitted}}
          </div>
        </div>

        <div class="ui divider"></div>

        <div
            class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
              Заполнили ФИО всего
            </strong> :
            {{stats.submitted}}
          </div>
        </div>

        <div
            class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
              Подтвердили почту
            </strong> :
            {{stats.verified}} ({{stats.verified / stats.total * 100 | number: 1}}%)
          </div>
        </div>

        <div class="ui divider"></div>

        <div
            class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
              Всего команд
            </strong> :
            {{stats.totalTeams}}
          </div>
        </div>

        <!--<div class="item">-->
        <!--<i class="child icon"></i>-->
        <!--<div class="content">-->
        <!--<strong>-->
        <!--Unisex shirt sizes:-->
        <!--</strong> :-->
        <!--XS ({{stats.shirtSizes['XS']}})-->
        <!--S ({{stats.shirtSizes['S']}})-->
        <!--M ({{stats.shirtSizes['M']}})-->
        <!--L ({{stats.shirtSizes['L']}})-->
        <!--XL ({{stats.shirtSizes['XL']}})-->
        <!--XXL ({{stats.shirtSizes['XXL']}})-->
        <!--</div>-->
        <!--</div>-->

        <!--<div class="item">-->
        <!--<i class="child icon"></i>-->
        <!--<div class="content">-->
        <!--<strong>-->
        <!--Women's shirt sizes:-->
        <!--</strong> :-->
        <!--XS ({{stats.shirtSizes['WXS']}})-->
        <!--S ({{stats.shirtSizes['WS']}})-->
        <!--M ({{stats.shirtSizes['WM']}})-->
        <!--L ({{stats.shirtSizes['WL']}})-->
        <!--XL ({{stats.shirtSizes['WXL']}})-->
        <!--XXL ({{stats.shirtSizes['WXXL']}})-->
        <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>

  <!--Демография-->
  <div
      class="ui pink segment"
      ng-class="{'loading': loading}">
    <div class="ui header">
      Demographics
    </div>
    <div class="ui list">
      <div class="item">
        <i class="users icon"></i>
        <div class="content">
          <strong>Total users</strong>: {{stats.total}}
        </div>
      </div>
      <div class="item">
        <i class="female icon"></i>
        <div class="content">
          <strong>Female</strong>: {{stats.demo.gender['F']}} ({{stats.demo.gender['F'] / stats.total * 100 | number:1}}%)
        </div>
      </div>
      <div class="item">
        <i class="male icon"></i>
        <div class="content">
          <strong>Male</strong>: {{stats.demo.gender['M']}} ({{stats.demo.gender['M'] / stats.total * 100 | number:1}}%)
        </div>
      </div>
    </div>
    <div class="ui divider"></div>


  </div>

  <!--Задания-->
  <div
      class="ui pink segment"
      ng-class="{'loading': loading}">
    <div class="ui header">
      Задания
    </div>
    <div class="ui list">
      <div class="item">
        <div class="content">
          <strong>Total by challenges</strong>: {{stats.statChoosenTaskSum}}
        </div>
      </div>

      <div class="item">
        <div class="content">
          <strong>Virtual Reality</strong>: {{stats.statChoosenTask["Virtual Reality"]}}
        </div>
      </div>

      <div class="item">
        <div class="content">
          <strong>Leap Motion</strong>: {{stats.statChoosenTask["Leap Motion"]}}
        </div>
      </div>

      <div class="item">
        <div class="content">
          <strong>Samsung IoT</strong>: {{stats.statChoosenTask["Samsung IoT"]}}
        </div>
      </div>

      <div class="item">
        <div class="content">
          <strong>Aquarius</strong>: {{stats.statChoosenTask["Aquarius"]}}
        </div>
      </div>

      <div class="item">
        <div class="content">
          <strong>Foresight</strong>: {{stats.statChoosenTask["Foresight"]}}
        </div>
      </div>

      <div class="item">
        <div class="content">
          <strong>Sibintek</strong>: {{stats.statChoosenTask["Sibintek"]}}
        </div>
      </div>

      <div class="item">
        <div class="content">
          <strong>Galaktika</strong>: {{stats.statChoosenTask["Galaktika"]}}
        </div>
      </div>

      <div class="item">
        <div class="content">
          <strong>Codabra</strong>: {{stats.statChoosenTask["Codabra"]}}
        </div>
      </div>

      <div class="item">
        <div class="content">
          <strong>No</strong>: {{stats.statChoosenTask["No"]}}
        </div>
      </div>

    </div>
    <div class="ui divider"></div>
  </div>

  <!--По универам-->
  <div class="ui accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      Универы
    </div>
    <div class="content">
      <div
          class="ui pink segment"
          ng-class="{'loading': loading}">
        <div class="ui header">
          Универы
        </div>

        <button ng-click="saveThisTable($event);">Скачать txt</button>

        <table class="ui table">
          <thead>
          <tr>
            <th>Универ</th>
            <th>Сколько</th>
          </tr>
          </thead>
          <tbody>

          <tr
              class="item"
              ng-repeat="school in stats.schoolsStats | orderBy: 'count'">
            <td>{{school.name}}</td>
            <td>{{school.count}}</td>
          </tr>

          </tbody>
        </table>
        <div class="ui divider"></div>
      </div>
    </div>
  </div>

  <!--Обзвон-->
  <div class="ui accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      Обзвон с утра
    </div>
    <div class="content">
      <div
          class="ui pink segment"
          ng-class="{'loading': loading}">
        <div class="ui header">
          Обзвон
        </div>

        <button ng-click="saveThisTable($event);">Скачать txt</button>

        <div class="ui list">
          <div class="item">
            <i class="users icon"></i>
            <div class="content">
              <strong>Total users to call</strong>: {{stats.statNeedToCall}}
            </div>
          </div>

          <table class="ui table">
            <thead>
            <tr>
              <th>Time</th>
              <th>Name</th>
              <th>Phone</th>
            </tr>
            </thead>
            <tbody>

            <tr
                class="item"
                ng-repeat="user in stats.needToCallUsers | orderBy: 'ntime'">
              <td>{{user.ntime}}</td>
              <td>{{user.name}}</td>
              <td>{{user.phone}}</td>
            </tr>

            </tbody>
          </table>
        </div>
        <div class="ui divider"></div>
      </div>
    </div>
  </div>

  <!--Тачки -->
  <div class="ui accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      Пропуска на тачки
    </div>
    <div class="content">
      <div
          class="ui pink segment"
          ng-class="{'loading': loading}">
        <div class="ui header">
          Пропуска на тачки
        </div>

        <button ng-click="saveThisTable($event);">Скачать txt</button>

        <table class="ui table">
          <thead>
          <tr>
            <th>ФИО</th>
            <th>госномер</th>
            <th>модель</th>
          </tr>
          </thead>
          <tbody>

          <tr
              class="item"
              ng-repeat="user in stats.needParking | orderBy: 'name'">
            <td>{{user.name}}</td>
            <td>{{user.autoNum}}</td>
            <td>{{user.autoModel}}</td>
          </tr>

          </tbody>
        </table>
        <div class="ui divider"></div>
      </div>
    </div>
  </div>

  <!--ФИО для пропуска-->
  <div class="ui accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      ФИО для пропуска
    </div>
    <div class="content">
      <div
          class="ui pink segment"
          ng-class="{'loading': loading}">
        <div class="ui header">
          ФИО для пропуска
        </div>

        <button ng-click="saveThisTable($event);">Скачать txt</button>

        <table class="ui table">
          <thead>
          <tr>
            <th>Name</th>
          </tr>
          </thead>
          <tbody>

          <tr
              class="item"
              ng-repeat="user in stats.peopleWillBe">
            <td>{{user}}</td>
          </tr>

          </tbody>
        </table>
        <div class="ui divider"></div>
      </div>
    </div>
  </div>

  <!--ФИО и заметки-->
  <div class="ui accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      ФИО и заметки
    </div>
    <div class="content">
      <div
          class="ui pink segment"
          ng-class="{'loading': loading}">
        <div class="ui header">
          ФИО и заметки
        </div>

        <button ng-click="saveThisTable($event);">Скачать txt</button>

        <table class="ui table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Note</th>
          </tr>
          </thead>
          <tbody>

          <tr
              class="item"
              ng-repeat="user in stats.usersNotes | orderBy: 'name'">
            <td>{{user.name}}</td>
            <td>{{user.note}}</td>
          </tr>

          </tbody>
        </table>
        <div class="ui divider"></div>
      </div>
    </div>
  </div>

  <!--Имена команд-->
  <div class="ui accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      Команды и их составы
    </div>
    <div class="content">
      <div
          class="ui pink segment"
          ng-class="{'loading': loading}">
        <div class="ui header">
          Команды и их составы
        </div>

        <button ng-click="saveThisTable($event);">Скачать txt</button>

        <table class="ui table">
          <thead>
          <tr>
            <th>Команда</th>
            <th>Участники</th>
          </tr>
          </thead>
          <tbody>

          <tr
              class="item"
              ng-repeat="team in stats.teams | orderBy: 'name'">
            <td>{{team.name}}</td>
            <td>{{team.users.join(', ')}}</td>
          </tr>

          </tbody>
        </table>
        <div class="ui divider"></div>
      </div>
    </div>
  </div>

  <!--Команда, состав и направление-->
  <div class="ui accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      Команда, состав и направление
    </div>
    <div class="content">
      <div
          class="ui pink segment"
          ng-class="{'loading': loading}">
        <div class="ui header">
          Команда, состав и направление
        </div>

        <button ng-click="saveThisTable($event);">Скачать txt</button>

        <table class="ui table">
          <thead>
          <tr>
            <th>Команда</th>
            <th>Направление</th>
            <th>Участники</th>
          </tr>
          </thead>
          <tbody>

          <tr
              class="item"
              ng-repeat="team in stats.teams | orderBy: 'name'">
            <td>{{team.name}}</td>
            <td>{{team.challenge}}</td>
            <td>{{team.users.join(', ')}}</td>
          </tr>

          </tbody>
        </table>
        <div class="ui divider"></div>
      </div>
    </div>
  </div>
</div>

</div>
