/** BRANDING COLORS
 * primary (default pink): sidebar color, admitted dashboard status
 * secondary (default purple): header text, submitted/confirmed/checked-in dashboard status
 * tertiary (default blue): waitlist/declined dashboard status
 */

$primary: #323554;
$secondary: #8EB1DF;
$tertiary: #4c82cc; //maybe change this too?

/** ASSET URLS
 * login-bg: image for login splash page 
 */

$login-bg: #323554; //url('https://s3.amazonaws.com/hackmit-assets/tintedphoto_1920_1080_low.jpg');
