<div class="page">
  <div class="divided title">
    Подтверждение участия
  </div>

  <div class="ui stackable page grid">
    <div class="column">

      <div class="ui form">

        <div class="divided title">Основные сведения</div>

        <fieldset ng-disabled="pastConfirmation">

          <div class="field">
            <label> Мобильный телефон без 8 (обязательно) </label>
            <input type="tel"
                   name="phone"
                   mask="(999) 999-99-99"
                   clean="true"
                   ng-model="user.confirmation.phone"
                   placeholder="900-100-20-18">
          </div>

          <br>
          <br>

          <div class="field">
            <label> Нужно ли позвонить тебе утром перед мероприятием и разбудить? </label>
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.needToCall">
              <label> Да, буду благодарен </label>
            </div>
          </div>

          <br>
          <br>

          <div class="field">
            <label> Если да, то во сколько? </label>
            <input type="text"
                   name="needToCall_time"
                   placeholder="4:20"
                   ng-model="user.confirmation.needToCall_time">
          </div>

          <br>
          <br>

          <div class="divided title">Твой челлендж</div>

          <div class="field">
            <label>В каком челлендже будет участвовать твоя команда? (обязательно)</label>
            <p>
              Если вы ещё не определились, то вариант "Я ещё не выбрал" для вас.
              <br><b>НО!</b> в таком случае - мы не сможем предоставить вашей команде комплект оборудования(VR/AR/IoT)
              <br>
            </p>
            <select
                name="choosenTask"
                ng-model="user.confirmation.choosenTask"
                required>
              <!--//@TODO: править челленджи здесь задания challenge-->
              <option value="">Выбрать задание</option>
              <option value="Virtual Reality">Virtual Reality</option>
              <option value="Leap Motion">Leap Motion</option>
              <option value="Samsung IoT">Samsung IoT</option>
              <option value="Aquarius">Aquarius</option>
              <option value="Foresight">Foresight</option>
              <option value="Сибинтек">Сибинтек</option>
              <option value="Галактика">Галактика</option>
              <option value="Кодабра">Кодабра</option>
              <option value="Я ещё не выбрал[мы не сможем предоставить Вам комплект оборудования]">Я ещё не выбрал[мы не сможем предоставить Вам комплект оборудования]</option>
            </select>
          </div>

          <br>
          <br>

          <div class="divided title">Обмен контактами</div>
          <p>
            Хочешь узнавать о новых интересных хакатонах?<br>
            Если да, то оставь нам свои контакты
          </p>
          <div class="field">
            <label> Telegram </label>
            <input type="text"
                   name="twitter"
                   placeholder="https://t.me/durov"
                   ng-model="user.confirmation.twitter">
          </div>

          <div class="field">
            <label> VK </label>
            <input type="text"
                   name="website"
                   placeholder="https://vk.com/durov"
                   ng-model="user.confirmation.website">
          </div>

          <div class="field">
            <label> Github </label>
            <input type="text"
                   name="github"
                   placeholder="https://github.com/lgg"
                   ng-model="user.confirmation.github">
          </div>

          <br>
          <br>

          <div class="divided title">Пропуск для авто на парковку</div>

          <div class="field">
            <label>Госномер автомобиля</label>
            <input type="text"
                   name="autoNum"
                   placeholder="а000мр77"
                   ng-model="user.confirmation.autoNum">
          </div>

          <div class="field">
            <label>Модель автомобиля</label>
            <input type="text"
                   name="twitter"
                   placeholder="ваз2107"
                   ng-model="user.confirmation.autoModel">
          </div>

          <br>
          <br>

          <div class="divided title">Внимание!</div>

          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="passport" ng-model="user.confirmation.passport">
              <label for="passport">Я понимаю, что если у меня не будет документа удостоверяющего личность - я не смогу попасть на хакатон.</label>
            </div>
          </div>

          <br>

          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="personalFz" ng-model="user.confirmation.personalFz">
              <label for="personalFz">Я согласен на обработку моих персональных данных согласно ФЗ №152.</label>
            </div>
          </div>

          <br>
          <br>

          <!--<div class="divided title">Замечания/Пожелания</div>-->

          <!--<div class="field">-->
          <!--<label>-->
          <!--Дополнительный комментарий-->
          <!--</label>-->
          <!--<p>-->
          <!--Если у Вас есть какое-то замечание или пожелание-->
          <!--</p>-->
          <!--<textarea-->
          <!--ng-model="user.confirmation.notes"></textarea>-->
          <!--</div>-->

          <div class="field" ng-hide="regIsClosed">
            <button type="submit"
                    class="fluid ui purple button"
                    ng-click="submitForm()">
              Отправить
            </button>
          </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
